
.search_button {
  background-color: #f9c445;
  color: #0f75bc;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  border-radius: 12px;
  font-weight: bold;
  width: 68%;
  justify-self: start;
  margin-top: 30px;
  margin-left: 10px;
}

.loading {
  color: #f9c445;
}

.dropdown {
  color: black;
  outline-color: #0f75bc;
  border-width: thick;
  border-color: #0f75bc;
}

.dropdown-content {
  min-width: 500px;
  background-color: orangered;
}

.VirtualizedSelectOption {
  white-space: nowrap;
}